.instruction{
    width: 100%;
    height: 100vh;
}

.exam-inst-heading{
    color: #4f3f39;
}
.exam-inst-list{
    width: 100%;
    height: 70%;

}
.exam-inst-list ul{

    display: flex;
    flex-direction: column;
    margin-left: 5rem;
   
}

.exam-inst-list ul li {
    padding-top: 2rem;
    text-align: left;
}
