.student{
    display: flex;
}
.student-left{
    width: 20rem;
    height: 100vh;
}
.student-viewPort{
    width: 70rem;
    height: 33rem;
    overflow: hidden;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}