.answer{
    width: 100%;
    height: 100%;

}
.box{
    display: flex;
    border-top: 1px solid black;
}
.answer-box{
    margin: auto;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 100%;

    
    display: flex;
    flex-direction: column;
    
}
.answer-que{

    display: flex;
    flex-wrap: wrap;
    justify-items: left;

    font-weight: bold;
}
.answer-option{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.answer-page-btn{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;

}
.page-btm-border{
    border-left: 2px solid black;   
    height: 100vh;

}
