.declined-examiner{
    box-shadow: 0px 8px 5px -4px lightblue;

    width: 60rem;
    height: 5rem;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
}
.declined-heading h2{
    color: #4f3f39;
}


.declined-detail{
    display: flex;
    align-items: center ;

}

.declined-detail-image img{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.declined-detail-data{
    margin-left: 1rem;
    text-align: left;

}
.declined-detail-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    width: 6rem;
}
.declined-detail-btn .restore{
    cursor: pointer;
}
.declined-detail-btn .delete{
    cursor: pointer;
}